page-cart {

.item-name {
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
  background-color: #f5f2f2;
  font-size: 14px;
}

.quantity {
    margin-right: 8px;
}



.item.item-block .item-inner {
    padding-left: 8px;
    border-bottom: 1px solid #dedede;
}

.colr {
        background-color: #f2f2f2;
        width: 70%;
        background-color: #f53d3d;
    }
}

