<!--
   Generated template for the MyorderPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar color="danger">
      <ion-title text-center>My Orders</ion-title>
   </ion-navbar>
</ion-header>
<ion-content>
   <ion-spinner *ngIf="!myOrderList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
   <div *ngIf="myOrderList">
      <ion-list class="list-padding" *ngFor="let item of myOrderList">
        <ion-item no-padding tappable *ngFor="let post of item.items" class="items" (click)="getOrderDetails(item.id)">
        <div (click)="getOrderDetails(item.id)">
          <h2>Name: {{post.name}}</h2>
          <p>Price: {{post.price}}</p>
          <p>Delivery Date: {{item.deliveryDate}}</p>
          <p>Total: {{item.total | currency:values.currency:true:'1.2-2'}}</p>
         </div> 
          <br>
          <ion-row>
          <ion-col no-padding>
               <button ion-button  no-padding icon-left no-margin clear (click)="deleteOder(item.id)">
                  <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  Delete
               </button>
               </ion-col>
               <ion-col no-padding>
                  <button ion-button  no-padding icon-left no-margin clear>
                  <ion-icon style="color: #ffa500;" name="time"></ion-icon>
                  {{item.deliveryDate | date}}
                  </button>
               </ion-col>
               <ion-col no-padding style="text-align: right;">
               <button ion-button  no-padding icon-left no-margin clear (click)="getOrderDetails(item.id)">
                  <ion-icon name="eye" style="color: #ff6868;"></ion-icon>
                  View
               </button>
               </ion-col>
               </ion-row>
        </ion-item>
      </ion-list>
   </div>
</ion-content>