<!--
   Generated template for the ProductInfo page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar color="danger">
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>{{"Product" | translate}}</ion-title>
   </ion-navbar>
</ion-header>
<ion-content class="product">
   <ion-spinner *ngIf="!productDetails" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
   <div *ngIf="productDetails" style="margin-bottom:40px">
      <img src="{{productDetails.downloadURL}}">
      <ion-label style="margin-bottom:0px" color="shadow" text-center>
         <strong>{{productDetails.name}}</strong>
      </ion-label>
      <ion-item  no-lines class="pad"  text-wrap>
         <h2 style="font-size:15px;color:green" *ngIf="!productDetails.sale_price">Regular Price $: {{productDetails.regular_price}}</h2>
         <h2 style="font-size:15px;color:red" *ngIf="productDetails.sale_price"> Sale Price $: {{productDetails.sale_price}}</h2>
         <h2 style="font-size:15px;color:green" *ngIf="productDetails.sale_price"><del>Regular Price $: {{productDetails.regular_price}}</del></h2>
      </ion-item >
      <ion-item style=" background-color:#f2f2f2" no-lines>
         <strong style="color:#50b7c0;">{{"ShortDescription" | translate}}</strong>
      </ion-item>
      <ion-item text-wrap  no-lines>
         <div style="font-size:13px;" [innerHTML]="productDetails.short_description"></div>
      </ion-item>
      <ion-item style=" background-color:#f2f2f2;"  no-lines>
         <strong style="color:#50b7c0;">{{"Description" | translate}} </strong> 
      </ion-item>
      <ion-item text-wrap  no-lines>
         <div [innerHTML]="productDetails.description"></div>
      </ion-item>
   </div>
   <br>
</ion-content>
<ion-footer *ngIf="productDetails">
   <ion-grid no-padding>
      <button ion-button full [disabled]='!productDetails.in_stock' color="shadow" no-padding no-margin text-uppercase style="font-size: 13px" (click)="addToCart(productDetails.id, productDetails.name, productDetails.sale_price, productDetails.downloadURL )">
      {{"AddToCart" | translate}}
      </button>
   </ion-grid>
</ion-footer>